body {
    background-color: #222222;
}

@starting-style {
    .square {
        opacity: 0;
    }
}

.square {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    background-image: linear-gradient(blue, yellow);
    transition: display 2s allow-discrete, opacity 2s;
    /* another approach 
    @starting-style {
        opacity: 0;
    }
    */
}

.toggleBtn {
    width: 100px;
}

.square.hide {
    display: none;
    opacity: 0;
}